* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-rose: #cdb1c0;
  --color-darkrose: #400625;
  --color-cinammon: #825c38;
}

html {
  background-color: var(--color-rose);
}

body {
  margin-inline: 10vw;
  margin-block: 2rem;
}

h1 {
  font-family: "Fleur De Leah", cursive;
  font-weight: 500;
  font-size: 3rem;
  color: var(--color-darkrose);
  padding-block: 1rem;
}

h2 {
  font-family: "Fleur De Leah", cursive;
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-darkrose);
  padding-bottom: 1rem;
}

h3 {
  font-family: "Arial Narrow";
  font-style: italic;
  color: var(--color-cinammon);
  padding-bottom: 0.5rem;
}

p,
li {
  font-family: "Arial Narrow";
  font-style: italic;
}

ul {
  list-style: none;
}

ul li {
  padding-block: 0.125rem;
}

ul li::before {
  font-style: normal;
  content: "\2605  ";
  color: var(--color-cinammon);
}

a {
  text-decoration: none;
  color: var(--color-darkrose);
  font-family: "Arial Narrow";
  font-style: italic;
}

.button,
button {
  font-family: "Arial Narrow";
  font-style: italic;
  background-color: var(--color-cinammon);
  color: var(--color-rose);
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-darkrose);
  transition: 0.2s ease-in;
}

input {
  font-family: "Arial Narrow";
  font-style: italic;
  background-color: var(--color-rose);
  color: var(--color-darkrose);
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}

input::placeholder {
  font-family: "Arial Narrow";
  font-style: italic;
  background-color: var(--color-rose);
  color: var(--color-darkrose);
}

/* 1. Styling des gesamten Players-Containers */
audio::-webkit-media-controls-enclosure {
  background-color: var(--color-cinammon);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toggle-box {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 4rem;
  background-color: var(--color-darkrose);
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.toggle-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  aspect-ratio: 1/1;
  background-color: var(--color-rose);
  border-radius: 1rem;
}

.icon-music-on {
  position: absolute;
}

.iconMusicOff {
  position: absolute;
  opacity: 100%;
}

.container {
  width: 100%;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-height: 100%;
}

.tuerchen {
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--color-cinammon);
  border-radius: 1rem;
  > a {
    text-decoration: 0;
    height: 100%;
    width: 100%;
    color: var(--color-rose);
    display: flex;
    justify-content: center;
    align-items: center;
    > p {
      font-family: "Fleur De Leah", cursive;
      font-size: 3rem;
      margin-right: 0.5rem;
    }
  }
}

.is-open:hover {
  background-color: var(--color-darkrose);
  transition: 0.2s ease-in;
}

/*--------------------------- 1 --- HANDYHINTERGRUND ---------------------------*/

.handy-hintergruende {
  display: flex;
  max-width: 100%;
  gap: 2rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    > img {
      max-width: 100%;
    }
    > p {
      text-align: center;
    }
  }
}

/*--------------------------- 2 --- Geschenkideen ---------------------------*/

.geschenkidee-listen {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  > ul {
    columns: 2;
  }
}

/*--------------------------- 4 --- Rezepte ---------------------------*/

.rezept {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.backschritte {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.backschritt {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/*--------------------------- 5 --- Hörspiel ---------------------------*/

.hoerspiel-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1rem;
}

/*--------------------------- 9 --- Weihnachtskarte ---------------------------*/

.weihnachtskarten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  gap: 2rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    > img {
      max-width: 100%;
    }
    > p {
      text-align: center;
    }
  }
}

/*--------------------------- 12 --- MEMORY ---------------------------*/

.memory-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-height: 100vh;
  perspective: 1000px;
}

.memory-card {
  aspect-ratio: 1/1;
  height: auto;
  width: auto;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(0deg);
  background-color: var(--color-cinammon);
}

.front-face {
  transform: rotateY(180deg);
  object-fit: cover;
}

.memory-card.matched {
  cursor: default;
}

/*--------------------------- 14 --- DESKTOPHINTERGRÜNDE ---------------------------*/

.desktop-hintergruende {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  gap: 2rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    > img {
      max-width: 100%;
    }
    > p {
      text-align: center;
    }
  }
}

/*--------------------------- 19 --- Foto ---------------------------*/
.photobox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 50vh;
}

#webcam-stream {
  height: 100%;
  padding: 1rem 1rem 2rem 1rem;
  background-color: white;
}

#photo-preview {
  height: 100%;
  background-color: white;
}

/*--------------------------- MOBILE ---------------------------*/

@media (max-width: 768px) {
  .content,
  .memory-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  .desktop-hintergruende {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 660px) {
  .content,
  .memory-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .geschenkidee-listen {
    > ul {
      columns: 1;
    }
  }
  .game {
    display: none;
  }
}

@media (max-width: 480px) {
  h1,
  .tuerchen a p {
    font-size: 2rem;
  }

  .content,
  .memory-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.25rem;
  }
}

@media (max-width: 320px) {
  h1,
  .tuerchen a p {
    font-size: 1.5rem;
  }
  .content,
  .memory-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.25rem;
  }
}
